{% extends "planner/layout.html" %}

{% block body %}
    <main>
        <section class="hero-section">
            <h1>Custom Planners for Educators</h1>
            <p>
                Because life is too short to be copying the same thing out every week
            </p>

            <section class="text-content">
                <p>
                    Even in a digital world, most of us teachers use a planner. If we are lucky enough to 
                    have our own classroom, it lives on our desk during the day. If we are not, we 
                    carry it from room to room, occasionally having to retrace our steps to find 
                    it again. Some of us have a good enough work life balance to leave it at school when 
                    we go home, but most of us don't.
                </p>

            <div class="image-with-caption">
                <img src="/images/comparison_picture.png" alt="Bespoke Teacher Planner" class="hero-image-small">
                <p class="image-caption">Which of these looks the most professional?</p>
            </div>

                <p>
                    Some of us now plan online. It means we can copy and paste the template for each 
                    teaching week rather than writing it out again and again. But this comes at the cost 
                    of having to login and open up the document every time you want to refer to it. And, 
                    if you are using the same computer to show a presentation or a video clip, then you 
                    are juggling applications on your computer in addition to all the other juggling 
                    which goes with managing a class full of children.
                </p>

                <p>
                    Isn't there a better way? Can't we have the reassuring presence of a physical planner 
                    without the hassle of endlessly rewriting our own timetable in it? Not to mention 
                    filling in the days and the dates.
                </p>
            </section>


            
            <div class="video-container">
                <video autoplay loop muted playsinline>
                    <source src="/api/placeholder/800/450" type="video/mp4" alt="teacher frustration">
                    Your browser does not support the video tag.
                </video>
            </div>
        </section>



    </main>

{% endblock %}