{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bespoke Teacher</title>
        <link href="{% static 'planner/styles.css' %}" rel="stylesheet">
        </head>
    <body>

        <header>
            <nav class="navbar">
                <! uses Djngo's URL resover>
                <a href="{% url 'planner:index' %}" class="logo-container">
                    <span class="logo">bespoke teacher</span>
                    <span class="tagline">for teachers, by teachers</span>
                </a>
                <div class="nav-links">
                    <a href="{% url 'planner:about' %}">about us</a>
                    <a href="{% url 'planner:product' %}">Product</a>
                    <a href="{% url 'planner:blog' %}">Blog</a>
                </div>
            </nav>
        </header>

        {% block body %}
        {% endblock %}
    </body>
</html>